{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    {% block head %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<video src="{% static '' %}video/background.mp4" autoplay loop muted></video>
<header>
    {% include 'navbar.html' %}
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    {% include 'footer.html' %}
</footer>

{% block script %}

{% endblock %}

</body>
</html>