
    <div class="faq">
        <h3>FAQ</h3>
        <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Employement</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Terms & Services</a></li>
        </ul>
    </div>

    <div class="news">
        <h3>Newsletter</h3>
        <input type="text" placeholder="Your Email Adress">
        <button>Subscribe</button>
    </div>

    <div class="contact">
        <h3>General Information</h3>
        <div class="phone">
            <i class="fa fa-phone"></i>
            <p>+53 54772378</p>
        </div>

        <ul>
            <li><a href="#"></a>207 Avellaneda. Camagüey</li>
            <li><a href="#"></a>Camagüey, Cuba</li>
        </ul>
        <div class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
